In [3]:
import pandas as pd
walk = pd.read_csv('Walk.csv',skiprows=1)
run = pd.read_csv('Run.csv',skiprows=1)

In [4]:
run.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   type                      74 non-null     object
 1   sourceName                74 non-null     object
 2   sourceVersion             74 non-null     int64
 3   productType               74 non-null     object
 4   device                    0 non-null      float64
 5   startDate                 74 non-null     object
 6   endDate                   74 non-null     object
 7   activityType              74 non-null     object
 8   duration                  74 non-null     float64
 9   durationUnit              74 non-null     object
 10  totalEnergyBurned         74 non-null     object
 11  totalDistance             74 non-null     object
 12  totalSwimmingStrokeCount  0 non-null      float64
 13  totalFlightsClimbed       0 non-null      float64
 14  HKTimeZone                41 non-null     object
 15  HKIndoorWorkout           74 non-null     int64
 16  HKWasUserEntered          41 non-null     float64
dtypes: float64(5), int64(2), object(10)
memory usage: 10.0+ KB

In [5]:
walk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50917 entries, 0 to 50916
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   type              50917 non-null  object
 1   sourceName        50917 non-null  object
 2   sourceVersion     50917 non-null  object
 3   productType       50917 non-null  object
 4   device            27218 non-null  object
 5   startDate         50917 non-null  object
 6   endDate           50917 non-null  object
 7   unit              50917 non-null  object
 8   value             50917 non-null  float64
 9   HKWasUserEntered  1 non-null      float64
dtypes: float64(2), object(8)
memory usage: 3.9+ MB

In [6]:
run = run[['startDate','endDate','duration','durationUnit','totalDistance']]
walk = walk[['startDate','endDate','unit','value']]

In [7]:
run

,startDate,endDate,duration,durationUnit,totalDistance
0,2018-06-26 12:11:08 +0000,2018-06-26 13:09:10 +0000,3467.827220,sec,8007.81 m
1,2018-07-01 13:59:37 +0000,2018-07-01 14:04:10 +0000,115.539599,sec,541.223 m
2,2018-07-01 14:07:41 +0000,2018-07-01 14:13:10 +0000,76.035380,sec,432.096 m
3,2018-07-01 14:19:48 +0000,2018-07-01 14:29:01 +0000,186.496310,sec,821.749 m
4,2018-07-06 14:21:23 +0000,2018-07-06 14:57:26 +0000,2157.065077,sec,5006.3 m
...,...,...,...,...,...
69,2021-01-17 14:53:53 +0000,2021-01-17 15:12:02 +0000,1087.150000,sec,1612.7 m
70,2021-01-21 23:55:50 +0000,2021-01-22 00:41:04 +0000,2585.683000,sec,3220.67 m
71,2021-03-07 11:50:00 +0000,2021-03-07 12:09:50 +0000,1186.578000,sec,1610.39 m
72,2021-03-14 22:13:13 +0000,2021-03-14 22:48:06 +0000,2090.617000,sec,3317.73 m
73,2021-03-18 22:02:41 +0000,2021-03-18 22:16:21 +0000,714.087000,sec,1094.62 m

In [8]:
walk

                       startDate                    endDate unit    value
0      2017-11-10 22:44:42 +0000  2017-11-10 22:54:09 +0000   km  0.00895
1      2017-11-10 22:54:09 +0000  2017-11-10 23:04:02 +0000   km  0.02334
2      2017-11-10 23:04:02 +0000  2017-11-10 23:10:54 +0000   km  0.06496
3      2017-11-10 23:10:54 +0000  2017-11-10 23:19:35 +0000   km  0.06313
4      2017-11-13 20:16:35 +0000  2017-11-13 20:25:55 +0000   km  0.01794
...                          ...                        ...  ...      ...
50912  2023-03-22 01:05:50 +0000  2023-03-22 01:15:51 +0000   km  0.61136
50913  2023-03-22 01:15:51 +0000  2023-03-22 01:23:57 +0000   km  0.08758
50914  2023-03-22 14:40:12 +0000  2023-03-22 14:50:13 +0000   km  0.68570
50915  2023-03-22 14:50:13 +0000  2023-03-22 14:50:28 +0000   km  0.02020
50916  2023-03-22 15:11:41 +0000  2023-03-22 15:17:07 +0000   km  0.43729

[50917 rows x 4 columns]

In [9]:
run.durationUnit.unique()

array(['sec'], dtype=object)

In [10]:
walk.unit.unique()

array(['km'], dtype=object)

In [11]:
run[['Date','StartTime']] = run["startDate"].str.split(" ", n = 1, expand = True)

In [12]:
run[['EndDate','EndTime']] = run["endDate"].str.split(" ", n = 1, expand = True)

In [13]:
run['totalDistance'] = run["totalDistance"].str.split(" ", n = 1, expand = True)[0]

In [14]:
walk[['StartDate','StartTime']] = walk["startDate"].str.split(" ", n = 1, expand = True)
walk[['EndDate','EndTime']] = walk["endDate"].str.split(" ", n = 1, expand = True)

In [26]:
walkdate = walk.groupby('StartDate').sum()

In [24]:
run.totalDistance = run.totalDistance.astype(float)

In [27]:
rundate = run.groupby('Date').sum()

In [36]:
walkdate.columns

Index(['value'], dtype='object')

In [51]:
df = pd.merge(walkdate, rundate, left_index=True, right_index=True)

In [54]:
df = df.rename(columns={"value": "kmWalked", "totalDistance": "workoutDistance"})

In [55]:
df

             kmWalked     duration  workoutDistance
2018-06-26  10.316850  3467.827220         8007.810
2018-07-01   7.417839   378.071289         1795.068
2018-07-06   5.369296  2157.065077         5006.300
2018-07-09   3.029476   819.732862         1814.680
2018-07-13   4.871245  1892.017131         4253.620
...               ...          ...              ...
2021-01-17   4.344964  1087.150000         1612.700
2021-01-21   1.168830  2585.683000         3220.670
2021-03-07   3.375410  1186.578000         1610.390
2021-03-14   7.238614  2090.617000         3317.730
2021-03-18   2.316411   714.087000         1094.620

[62 rows x 3 columns]

In [56]:
df.workoutDuration = df.duration / 3600
df.workoutDistance = df.workoutDistance / 1000

/var/folders/j6/34qvgl4n77n138wwm96y1hy00000gn/T/ipykernel_20345/780582581.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.workoutDuration = df.duration / 3600

In [58]:
df['workoutDuration'] = df.duration / 3600

In [60]:
df = df.drop(['duration'],axis=1)

In [62]:
df['speed'] = df.workoutDistance / df.workoutDuration

In [63]:
df

             kmWalked  workoutDistance  workoutDuration      speed
2018-06-26  10.316850         8.007810         0.963285   8.313020
2018-07-01   7.417839         1.795068         0.105020  17.092662
2018-07-06   5.369296         5.006300         0.599185   8.355186
2018-07-09   3.029476         1.814680         0.227704   7.969484
2018-07-13   4.871245         4.253620         0.525560   8.093495
...               ...              ...              ...        ...
2021-01-17   4.344964         1.612700         0.301986   5.340312
2021-01-21   1.168830         3.220670         0.718245   4.484081
2021-03-07   3.375410         1.610390         0.329605   4.885818
2021-03-14   7.238614         3.317730         0.580727   5.713064
2021-03-18   2.316411         1.094620         0.198357   5.518420

[62 rows x 4 columns]

In [66]:
%pip install statsmodels
import statsmodels.formula.api as smf
smf.ols('kmWalked ~ workoutDistance', data=df).fit().summary()

1104.25s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: statsmodels in /opt/homebrew/lib/python3.9/site-packages (0.13.5)
Requirement already satisfied: pandas>=0.25 in /opt/homebrew/lib/python3.9/site-packages (from statsmodels) (1.4.2)
Requirement already satisfied: packaging>=21.3 in /opt/homebrew/lib/python3.9/site-packages (from statsmodels) (21.3)
Requirement already satisfied: patsy>=0.5.2 in /opt/homebrew/lib/python3.9/site-packages (from statsmodels) (0.5.3)
Requirement already satisfied: scipy>=1.3 in /opt/homebrew/lib/python3.9/site-packages (from statsmodels) (1.8.1)
Requirement already satisfied: numpy>=1.17 in /opt/homebrew/lib/python3.9/site-packages (from statsmodels) (1.22.4)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/homebrew/lib/python3.9/site-packages (from packaging>=21.3->statsmodels) (3.0.9)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/homebrew/lib/python3.9/site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.9/site-packages (from pandas>=0.25->statsmodels) (2022.1)
Requirement already satisfied: six in /opt/homebrew/lib/python3.9/site-packages (from patsy>=0.5.2->statsmodels) (1.15.0)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Note: you may need to restart the kernel to use updated packages.

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               kmWalked   R-squared:                       0.283
Model:                            OLS   Adj. R-squared:                  0.271
Method:                 Least Squares   F-statistic:                     23.73
Date:                Wed, 22 Mar 2023   Prob (F-statistic):           8.46e-06
Time:                        12:34:24   Log-Likelihood:                -131.86
No. Observations:                  62   AIC:                             267.7
Df Residuals:                      60   BIC:                             272.0
Df Model:                           1
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept           3.2727      0.551      5.939      0.000       2.170       4.375
workoutDistance     0.6729      0.138      4.871      0.000       0.397       0.949
==============================================================================
Omnibus:                        3.035   Durbin-Watson:                   1.560
Prob(Omnibus):                  0.219   Jarque-Bera (JB):                2.517
Skew:                          -0.169   Prob(JB):                        0.284
Kurtosis:                       3.927   Cond. No.                         8.80
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""